@using FlashCommon
@using BlazorApp1.Components.PromptPair
@using BlazorApp1.Components.DeleteButton

<link href="css/PairsPanel.css" rel="stylesheet" />

<MatAccordion>
    <MatExpansionPanel Class="pp-innerpanel" @bind-Expanded="@isOpen">
        <MatExpansionPanelSummary>
            <div class="pp-header">
                <div class="rowfullcenter">
                    @Pair.prompts[0]?.text - @Pair.prompts[1]?.text
                </div>
            </div>
            @if (isOpen)
            {
                <div class="pp-icons">
                    <DeleteButton Delete="@Delete"></DeleteButton>
                </div>
            }
        </MatExpansionPanelSummary>
        <MatExpansionPanelDetails>
            <PromptPair Pair=@Pair TextChanged="@(() => StateHasChanged())"></PromptPair>
        </MatExpansionPanelDetails>

    </MatExpansionPanel>
</MatAccordion>


@code {
    [Parameter]
    public PromptResponsePair Pair { get; set; }

    [Parameter]
    public EventCallback Delete { get; set; }

    bool isOpen;
}
